/* styling projects section */
main {

  /* styling buttons sidebar */
  aside {
    min-width: 150px;

    .projects-btn {
      opacity: 0.5;
      background-color: var(--bgHeader);
      color: var(--subtitle);

      &.active {
        border: 1px solid var(--blue);
        font-weight: bold;
        opacity: 1;
        color: var(--title);
      }
    }
  }

  /* styling cards of projects */
  .content {
    .card {
      background-image: var(--cardBG);
      width: 300px;
      border: 1px solid var(--bgHeader);
      animation: fadeout 1s ease;
      -webkit-animation: fadeout 1s ease;

      &:hover {
        rotate: 1deg;
        scale: 1.02;
        border: 1px solid var(--blue);
      }

      .card-title {
        color: var(--title);
      }

      .card-text {
        color: var(--subTitle);
      }
    }

    .social {
      .icons {
        .icon {
          color: var(--subTitle) !important;
          font-size: 20px;

          &:hover {
            color: var(--title) !important;
          }
        }
      }
    }

  }
}

/* animation for card fadeout effect */
@keyframes fadeout {
  0% {
    opacity: .5;
    scale: .5;
    rotate: 5deg;
  }

  100% {
    opacity: 1;
    scale: 1;
    rotate: 0;
  }
}